@font-face {
    font-family: 'fuente-gpt';
    src: url('../fonts/soehne-buch.13189857.woff2') format('woff2'),
         url('../fonts/soehne-halbfett.977f1845.woff2') format('woff2'),
         url('../fonts/soehne-mono-buch.de677af1.woff2') format('woff2'),
         url('../fonts/soehne-buch.13189857.woff2') format('woff2');
}


body{
    height:100vh;
    width:99vw;
}

main{
    height:100%;
    width:100%;
    display:flex;
}

header{
    display:none;
}

aside{
    width:18.5%;
    height:100%;
    background-color:black;
    display:flex;
    flex-direction:column;
    overflow: hidden;
    position:relative;
}

.aside-header{
    display:flex;
    justify-content:space-between;
    Align-items:center;
    width:100%;
    height:2%;
    padding-left:3%;
    padding-top:10%;
    padding-bottom:5%;
}

.new-chat-button{
    display:flex;
    justify-content:left;
    Align-items:center;
    width:65%;
    height:50%;
    padding-top:5%;
    padding-bottom:5%;
    padding-left:5%;
    border:solid grey 1px;
    border-radius:10px;
    gap:0.5rem;

}

.new-chat-button svg{
    fill:white;
    height:1.3rem;
}

.new-chat-button h3{
    color:white;
    font-size:0.9rem;
    font-weight:500;
    font-family:'fuente-gpt';
}

.sidebar-button{
    display:flex;
    justify-content:space-between;
    Align-items:center;
    width:15%;
    height:50%;
    padding-top:5%;
    padding-bottom:5%;
    border:solid grey 1px;
    border-radius:10px;
    margin-right:5%;
    padding-left:2%;
}

.sidebar-button svg{
    width:50%;
    fill:white;
    padding-left:18%;
}

.chat-history{
    display:flex;
    flex-direction:column;
    gap:0.5rem;
    height:85%;
    width:94%;
    padding-left:4%;
    padding-right:2%;
    padding-top:5%;
    overflow-y:scroll;
    margin-top:6%;
}

.chat-history::-webkit-scrollbar {
    width: 10px;
}

.chat-history::-webkit-scrollbar-track {
    background: black;
}

.chat-history::-webkit-scrollbar-thumb {
    background: rgb(36, 36, 36);
}



.daily-history{
    display:flex;
    flex-direction: column;
    gap:0.7rem;
}

.day{
    display:flex;
    align-items: center;
    width:100%;
    height:20%;
}

.day h3{
    color:hsl(0, 0%, 50%);
    font-weight:500;
    font-size:0.75rem;
    font-family:'fuente-gpt';}

.daily-chats{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height:80%;
    width:100%;
    gap:0.3rem;
    padding-bottom:3%;
}

.past-chat-line{
    overflow: hidden;
    width:95%;
    height:1.5rem;
    display: flex;
    flex-direction:row;
    padding-left:5%;
    padding-right:5%;
    align-items: center;
}

.message-svg{
    display: flex;
    align-items: center;
    width:20%;
}

.message-svg svg{
    fill:white;
    width: 1rem;
}

.past-chat-title{
    width:80%;
    overflow:hidden;
}

.past-chat-title h3{
    color:white;
    font-size:0.85rem;
    white-space: nowrap;
    font-weight:400;
    font-family:'fuente-gpt';
    width:100%;
    overflow: hidden;
}   

.settings-box{
    height:8%;
    padding:5% 5%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:90%;
    gap:0.5rem;

}

.upgrade{
    display:flex;
    justify-content: start;
    width:100%;
    height:50%;
    align-items:center;
    padding-left:5%;
    
}

.upgrade-svg{
    width:10%;

}

.upgrade-svg svg{
    fill:white;

}

.upgrade h3{
    color:white;
    padding-left:8%;
    font-weight:600;
    font-family:'fuente-gpt';
    font-size:0.9rem;

}

.profile{
    display:flex;
    justify-content: start;
    position:relative;
    width:100%;
    height:50%;
    align-items: center;

}

.profile-picture{
    width:15%;
    height:100%;
    background-color: white;
}

.username{
    width:60%;
    padding-left:5%;
}

.username h3{
    color:white;
    font-weight:600;
    font-family:'fuente-gpt';
    font-size:0.9rem;
}

.dots{
    position:absolute;
    right:5%;
    bottom:0%;
    width:10%;
}

.dots svg{
    width:100%;
    fill:white;
}

.chat{
    width:100%;
    height:100%;
    display:flex;
    position:relative;
    flex-direction: column;
    align-items: center;
    justify-content: end;

}

.water-mark{
    width:20%;
    height:20%;
    position:absolute;
    top:40%;
    left:45%;
}

.water-mark h1{
    color:hsl(0, 0%, 83%);
    font-size: 2rem;
    font-family:'fuente-gpt';
}

.chat-interaction{
    width:55%;
    height:21%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom:2%;
}

.hint-menu{
    width:98%;
    height:50%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:0.6rem;
}


.hint{
    border:solid hsl(0, 0%, 83%) 1px;
    border-radius:10px;
    width:49%;
    height:49%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top:0.5%;
    padding-bottom:0.5%;
}

.hint-title{
    width:90%;
    height:40%;
    padding-left:2%;
}

.hint-title h3{
    font-size:1rem;
    font-family:'fuente-gpt';
}

.hint-text{
    width:90%;
    height:40%;
}

.hint-text h3{
    color:hsl(0, 0%, 83%);
    font-size:0.9rem;
    font-family:'fuente-gpt';
    padding-left:2%;
    font-weight:500;
}

.text-bar{
    width:100%;
    height:30%;
    display:flex;
    justify-content: space-between;
    position:relative;

}

.text-bar input{
    color:grey;
    box-shadow: #888;
    border-radius:15px;
    border:solid hsl(0, 0%, 83%) 1px;
    display:flex;
    align-items: center;
    font-family:'fuente-gpt';
    width:100%;
}

.send-text{
    right:1%;
    width:5%;
    position:absolute;
    right:1%;
    top:15%;
}

.send-text svg{
    fill:rgb(212, 212, 212);
}

.question-mark{
    position:absolute;
    right:0.5%;
    bottom:2%;
    width:1.5%;
    height:2.3%;
    border:solid hsl(0, 0%, 83%) 1px;
    border-radius:25px;
    align-items:center;
    display: flex;
    justify-content: space-around;
}

.question-mark svg{
    width:50%;
}